[project]
name = "aoc-utilities"
version = "0.1.0"
description = "Utilities for my Advent of Code solutions"
readme = "README.md"
requires-python = ">=3.10"

[build-system]
requires = ["setuptools"]
build-backend = "setuptools.build_meta"

[tool.setuptools.packages.find]
where = ["src"]
